# VS Specific
.vscode
.vs
ChangelogRecent.txt

# Unit-test and debug
__pycache__
.pytest_cache
ssslog.txt
Param.json
param
logs

# Install Files
build
dist
*.spec

# language files
*.pro
*.ts

# Ignore till finished
install